#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_bootloader {
            timeout-ms = <50>;
            key-positions = <0 1 2>;
            bindings = <&bootloader>;
        };

        to1 {
            bindings = <&to 1>;
            key-positions = <15 1>;
            require-prior-idle-ms = <0>;
            timeout-ms = <50>;
        };

        Main {
            bindings = <&to 0>;
            key-positions = <15 0>;
            timeout-ms = <50>;
        };
    };

    macros {
        Dmute: Dmute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp RIGHT_SHIFT &kp N9 &kp EQUAL>, <&macro_tap>;

            label = "DMUTE";
        };

        CopyP: CopyP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_WIN &kp V>, <&macro_tap>;

            label = "COPYP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp ESCAPE      &kp TAB       &trans     &trans     &Dmute     &kp C_MUTE
&kp LEFT_SHIFT  &kp LC(A)     &kp LC(C)  &kp LC(V)  &kp LC(X)  &trans
&kp LCTRL       &kp LEFT_ALT  &trans     &kp SPACE  &kp ENTER  &trans
            >;
        };

        Rocketzada {
            bindings = <
&kp ESCAPE      &kp Q   &kp W   &kp E    &trans     &trans
&kp LEFT_SHIFT  &kp A   &kp S   &kp D    &trans     &trans
&trans          &trans  &trans  &kp TAB  &kp SPACE  &trans
            >;
        };

        Calculadora {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp PLUS      &trans
&kp N5        &kp NUMBER_6  &kp N7        &kp N8        &kp MINUS     &trans
&kp N9        &kp N0        &trans        &kp SLASH     &kp ASTERISK  &trans
            >;
        };
    };
};
