#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        to1 {
            bindings = <&to 0>;
            key-positions = <15 0>;
            require-prior-idle-ms = <0>;
            timeout-ms = <50>;
        };

        toRocket {
            bindings = <&to 1>;
            key-positions = <15 1>;
            timeout-ms = <50>;
        };

        toCalc {
            bindings = <&to 2>;
            key-positions = <15 2>;
        };

        print {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <1 2 3>;
            timeout-ms = <50>;
        };
    };

    macros {
        Dmute: Dmute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RS(N9) &kp EQUAL>, <&macro_press>;

            label = "DMUTE";
        };

        DmuteAll: DmuteAll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RS(N9) &kp MINUS>, <&macro_press>;

            label = "DMUTEALL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp ESCAPE      &kp TAB       &kp LG(V)  &kp BACKSPACE  &kp DEL    &kp C_MUTE
&kp LEFT_SHIFT  &kp LC(A)     &kp LC(C)  &kp LC(V)      &kp LC(X)  &Dmute
&kp LCTRL       &kp LEFT_ALT  &trans     &kp ENTER      &kp LC(Z)  &trans
            >;
        };

        Rocketzada {
            bindings = <
&kp ESCAPE      &kp Q   &kp W   &kp E    &trans     &trans
&kp LEFT_SHIFT  &kp A   &kp S   &kp D    &trans     &trans
&trans          &trans  &trans  &kp TAB  &kp SPACE  &trans
            >;
        };

        Calculadora {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp PLUS      &trans
&kp N5        &kp NUMBER_6  &kp N7        &kp N8        &kp MINUS     &trans
&kp N9        &kp N0        &trans        &kp SLASH     &kp ASTERISK  &trans
            >;
        };
    };
};
